/* body and html set to 100% to avoid limiting children */

body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.content {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.test-gradient {
  position: relative;
  height: 500px;
  width: 700px;
  background: url('./components/microscope.png') center center no-repeat;
}

/* box-shadow to blur the edges of the image? */
.test-gradient:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: 
    linear-gradient(120deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%),
    linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 99%);
}

.download {
  position: relative;
  height: 500px;
  width: 700px;
  background: url('./components/download.jpg') center center no-repeat;
}

/* box-shadow to blur the edges of the image? */
.download:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: 
    linear-gradient(120deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%),
    linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 99%);
}